barcodes.tsv
fastq/*
logs/*
logs/cluster/*
.snakemake/
alignment/
coverage/
nucwave/
qual_ctrl/
correlations/
datavis/
scripts/.snakemake*
snakemake.err
snakemake.log
*.svg
danpos/

config.yaml

Rplots.pdf
!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
