barcodes.tsv
fastq/*
logs/*
logs/cluster/*
.snakemake/
alignment/
coverage/
nucleosome_calling/
qual_ctrl/
datavis/
scripts/.snakemake*
snakemake.err
snakemake.log
*.svg

config.yaml

Rplots.pdf
!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
